<html ng-app="module1">
<head>
	<meta charset="utf-8">
	<script src="/home/ganesan/angularsite/library/angular.min.js"></script>
	<script>
		var module1 = angular.module ("module1",[]);
		var mycontroller = module1.controller("mycontroller", function mycontroller($scope)
			{
				$scope.firstName = "Ganesan S";
				$scope.age = "35";
			});
	</script>
</head>
<body ng-controller="mycontroller">
	Enter your first name:  <input ng-model="firstName" type="text" /><br/>
	Enter your age:			<input ng-model="age" type="text" /><br/>
	<h1>Name:  <b><i>{{firstName}}</i></b></h1>
	<h1>Age:  <b><i>{{age}}</i></b></h1>
</body>
</html>