<html ng-app="app">
	<head>
		<script src="./library/angular.min.js"></script>
		<script>
			var app = angular.module("app", []);

			app.controller("mycontroller", ['$scope','$http',function(scope,http){
				//$scope.products = [{"name":"Apple","price":"10.00"},{"name":"Orange","price":"8.00"}];
				//console.log("http test...");
				http.get('products_1.json').success(function(data){
					scope.products = data;
				});
			}]);
		</script>
	</head>
	<body ng-controller="mycontroller">
		Search product: <input type="text" ng-model="searchproduct"/>
		<table>
			<tr>
				<th><a href="" ng-click="usethisforsort = 'name';reverse=!reverse">Product Name</a></th>
				<th><a href="" ng-click="usethisforsort = 'price';reverse=!reverse">Price</a></th>
				<th>Product</th>
				<th>Weight</th>
			</tr>
			<tr ng-repeat="product in products | filter:searchproduct | orderBy:usethisforsort:reverse">
				<td>{{product.name}}</td>
				<td>{{product.price | currency}}</td>
				<td><img ng-src="{{product.image}}" width="50" height="50"></img></td>
				<td>{{product.weight | number}}</td>
			</tr>
		</table>
	</body>
</html>